---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionDetail from "../../components/astroComponents/SectionDetail.astro";
import GetInTouchForm from "../../components/reactComponents/GetInTouchForm";
---
<BaseLayout>
    <SectionDetail
            title="External Quality Assessment (EQA)"
            imageSrc="../../servicesImage/EQAAudit.webp"
            alt="External Quality Assessment Image">
        <div class="max-w-4xl mx-auto">
            <p class="mb-6 text-base">
            </p>

            <div class="text-xl space-y-5">
                <section>
                    <h2 class="font-bold">• Full External Quality Assessment</h2>
                    <p class="mt-1 p-4 text-base"><strong class="font-bold">When you need:</strong>Complete assurance on
                        conformance and performance.
                        An end-to-end, independent assessment aligned with the <strong class="font-bold">IIA’s Quality
                            Assessment Manual,</strong>
                        delivering a detailed report, stakeholder interviews, benchmarking insights, and prioritized
                        recommendations.</p>
                </section>
                <section>
                    <h2 class="font-bold">• Self-Assessment with Independent Validation (SAIV)</h2>
                    <p class="mt-1 p-4 text-base"><strong class="font-bold">When you need:</strong>A cost-effective path
                        to quality assurance.We validate your team’s internal self-assessment through objective review,
                        stakeholder engagement, and targeted analysis—balancing rigor with efficiency.</p>
                </section>
                <section>
                    <h2 class="font-bold">• Focused Performance Reviews</h2>
                    <p class="mt-1 p-4 text-base"><strong class="font-bold">When you need:</strong>Insight into specific
                        areas of audit performance.Thematic or targeted reviews to explore areas such as stakeholder
                        engagement, audit planning, reporting quality, or value delivery—providing focused improvement
                        opportunities.</p>
                </section>
                <section>
                    <h2 class="font-bold">• Post-EQA Advisory & Action Planning</h2>
                    <p class="mt-1 p-4 text-base"><strong class="font-bold">When you need:</strong>Support in turning
                        insight into impact. We help translate EQA findings into clear, actionable roadmaps—supporting
                        enhancements in audit methodology, governance, talent development, and stakeholder alignment.
                    </p>
                </section>

            </div>
        </div>
    </SectionDetail>
    <GetInTouchForm client:only="react"/>
</BaseLayout>