---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionDetail from "../../components/astroComponents/SectionDetail.astro";
import GetInTouchForm from "../../components/reactComponents/GetInTouchForm";
---
<BaseLayout>
    <SectionDetail title="IT audit and external assurance">
        <div class="max-w-4xl mx-auto ">
            <p class=" text-base">We deliver independent IT audits and assurance services to help organizations
                strengthen controls, manage technology risks, and build cyber resilience in an increasingly complex
                digital environment.</p>
            <div class="text-xl space-y-5 mt-4 ">
                <section>
                    <h2 class="font-bold">• IT Audit & External Assurance Services
                    </h2>
                    <p class="pl-4 text-base">We offer a comprehensive suite of IT audit and assurance
                        solutions—designed to support organizations at every stage of their risk management and
                        compliance journey, from foundational assessments to advanced cybersecurity validations.
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• IT General Controls Audit & Risk-Based Assessments
                    </h2>
                    <p class="pl-4 text-base">Our independent IT audits evaluate the effectiveness of your IT
                        controls, systems, and processes—identifying risk exposures, control gaps, and opportunities for
                        alignment with industry best practices and regulatory requirements.
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• ISO/IEC 27000 Series Readiness & Gap Assessments
                    </h2>
                    <p class="pl-4 text-base">We conduct detailed assessments and advisory engagements to help your
                        organization align with ISO/IEC 27001 and related standards—supporting certification efforts and
                        strengthening your Information Security Management System (ISMS).
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• Cybersecurity Maturity & Risk Assessments
                    </h2>
                    <p class="pl-4 text-base">Our cybersecurity assessments benchmark your organization’s current
                        posture against frameworks such as NIST, CIS, and ISO—uncovering vulnerabilities, evaluating
                        response readiness, and guiding actionable improvements
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• Penetration Testing & Security Validation Services
                    </h2>
                    <p class="pl-4 text-base">We perform controlled, real-world attack simulations to uncover hidden
                        vulnerabilities in your systems and infrastructure—delivering critical insights to improve your
                        defenses and mitigate potential threats.
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• IT Compliance & Regulatory Audit Support
                    </h2>
                    <p class="pl-4 text-base">Our experts support your compliance efforts across key regulatory
                        environments—such as GDPR, HIPAA, SOX, and PCI-DSS—ensuring that your IT operations meet both
                        local and global compliance expectations.
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• Third-Party & Vendor IT Risk Assessments
                    </h2>
                    <p class="pl-4 text-base">We help assess and monitor the IT risk exposure of your vendors and
                        third-party service providers—supporting due diligence, contractual compliance, and stronger
                        supply chain security.
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">• Cloud Security & Infrastructure Audit
                    </h2>
                    <p class="pl-4 text-base">We provide assurance over cloud-based systems and
                        infrastructure—evaluating security, configuration, and access controls to ensure resilience,
                        performance, and regulatory compliance in dynamic cloud environments
                    </p>
                </section>
                <section>
                    <h2 class="font-bold">Ready to Strengthen Your IT Assurance & Cybersecurity Oversight?
                    </h2>
                    <p class="pl-4 text-base">Whether you need independent validation, regulatory support, or enhanced cyber
                        assurance, our expert services provide the insight and confidence to manage technology risks and
                        protect your digital environment.Whether you're launching a new internal audit function or
                        enhancing an existing one,
                        our expert services deliver assurance, efficiency, and strategic impact.
                        <strong class="font-bold">Get in touch </strong> today to learn how we can support your IT audit
                        and assurance strategy.
                    </p>
                </section>
            </div>
        </div>
    </SectionDetail>
    <GetInTouchForm client:only="react"/>
</BaseLayout>