.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.input-field {
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid #151515;
    outline: none;

}
.close-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #555;
}

.close-btn:hover {
    color: #e74c3c;
}

.open-btn, .submit-btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.open-btn {
    background-color: white;
    color: #033271;
}


.submit-btn {
    background-color: #3F5D8F;
    color: white;
    width: 100%;
    border:2px solid transparent;
    transition: background-color 0.3s ease-in-out;

}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.close-btn-div {
    display: flex;
    justify-content: flex-end;
}
.modal-header{
    display: flex;
    justify-content: start;
}

.submit-btn:hover{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FFBC7E, #ecd8ae) border-box;
    border-radius: 4px;
    border: 2px solid transparent;
    color: #151515;
    transition: background 0.5s ease-in-out;

}
@layer utilities {
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(0.7);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-in-out forwards;
    }
}
