
---
import BaseLayout from "../layouts/BaseLayout.astro";
import Faqs from "../components/reactComponents/Faqs";
import OneService from "../components/astroComponents/OneService.astro";
import GetInTouchForm from "../components/reactComponents/GetInTouchForm";
import ScheduleForm from "../components/reactComponents/ScheduleForm";
import GetStartedPopUp from "../components/reactComponents/popUps/GetStartedPopUp";
import DateSelector from "../components/reactComponents/DateSelector";
import CertificateSlider from "../components/astroComponents/CertificateSlider.astro";
---


<BaseLayout title="Home">

    <div class="w-full h-full relative overflow-hidden">
        <div class="absolute inset-0 bg-[url('/staticImages/HomeGreeting.svg')]  bg-center bg-cover "></div>

        <div class="absolute inset-0 opacity-30"></div>

        <div class="relative z-10 p-8 pb-20 md:p-16 text-white">
            <div class="max-w-2xl mb-16 md:mb-24 text-center lg:text-left">
                <h1 class=" text-[25px] sm:text-[40px] lg:text-[55px] font-bold mb-2">YOUR TRUSTED PARTNER IN BUSINESS TRANSFORMATION</h1>
            </div>

            <div class="max-w-3xl mx-auto">
                <DateSelector client:only="react"/>
            </div>
        </div>

    </div>




    <section class="my-10 mx-auto max-w-7xl px-4" data-aos="fade-up">
        <div class="border-t-2 border-gray-400 w-full">
            <h1 class="xl:text-4xl lg:text-3xl text-2xl font-semibold py-5">ABOUT US</h1>
        </div>
        <div class="vision-container flex md:flex-row flex-col-reverse lg:gap-12 justify-center items-center">
            <div class="md:w-3/5 flex flex-col" data-aos="fade-right">
                <div class="text-base lg:text-lg">
                    <p>At <span class="font-semibold">QEE</span>, we deliver a comprehensive suite of consulting
                        services that cover <span class="font-semibold">internal audit, risk management, IT governance, IT support, IT audits, and process optimization</span>.
                        Our mission is to help businesses operate smarter, reduce risks, and elevate performance
                        through tailored solutions and expert insights. With a team of experienced professionals,
                        we'll work closely with your organization to identify inefficiencies, streamline workflows,
                        and align your operations with industry best practices. Whether it's through process
                        redesign or digital enablement, our goal is to make your systems more effective and
                        scalable.</p>
                </div>
                <div>
                    <h3 class="font-semibold text-lg lg:text-xl xl:text-2xl py-3 text-[#00296B]">Mission</h3>
                    <p class="text-base lg:text-lg">Our mission is simple yet powerful:</p>
                    <p class="text-base lg:text-lg"><span class="font-semibold">Empower organizations</span> by
                        providing <span class="font-semibold">top-tier consulting services,</span> which drive
                        growth, enhance performance, and reduce risks. We strive to bring <span
                                class="font-semibold">clarity and actionable insights</span> to your operations
                        through expert advice, customized solutions, and a commitment to your success.</p>
                </div>
                <div>
                    <h3 class="font-semibold text-lg lg:text-xl xl:text-2xl py-3 text-[#00296B]">Vision</h3>
                    <p class="text-base lg:text-lg">We aspire to become the <span class="font-semibold">trusted partner of choice</span>
                        for organizations seeking <span
                                class="font-semibold">reliable, efficient, and innovative</span> consulting
                        solutions. Our vision is to lead the way in <span class="font-semibold">internal audit, risk management, IT governance and strategic advisory,</span>
                        setting the standard for excellence, integrity, and client satisfaction.</p>
                </div>
            </div>
            <div class="md:w-2/5 justify-center items-center" data-aos="fade-left">
                <img src="aboutImg.webp" class="scale-x-[-1] min-w-full min-h-full flex-shrink-0 object-cover"/>
            </div>
        </div>
    </section>

    <section class="mx-auto max-w-7xl px-4 py-20" id="services" data-aos="fade-up"
             data-aos-anchor-placement="top-center">
        <div class="border-t-2 border-gray-400 w-full">
            <h1 class="xl:text-4xl lg:text-3xl text-2xl font-semibold py-5">SERVICES</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <OneService imageUrl="/servicesImage/InternalAudit.webp" alt="IntAud" title="Internal Audit"
                            href="/services/internal_audit/"
                            subTitle="We build and strengthen internal audit functions with a risk-based focus."/>
                <OneService imageUrl="/servicesImage/ITAudit.webp" alt="IT Audit Image"
                            title="IT audit and external assurance"
                            href="/services/it_audit/"
                            subTitle="We provide assurance on IT systems, controls, and compliance with precision."/>
                <OneService imageUrl="/servicesImage/ITSupport.webp" alt="IT support Image"
                            title="IT support, governance and cybersecurity"
                            href="/services/it_support/"
                            subTitle="We secure and govern IT environments with end-to-end expert support."/>
                <OneService imageUrl="/servicesImage/FinancialManagement.webp" alt="Financial Management Image"
                            title="Financial Management"
                            href="/services/financial_management/"
                            subTitle="We drive financial clarity through strategic control and tailored performance solutions."/>
                <OneService imageUrl="/servicesImage/EQAAudit.webp" alt="EQA Image"
                            title="External Quality Assessment (EQA)"
                            href="/services/eqa_audit/"
                            subTitle="We ensure audit excellence through independent, standards-based external assessments."/>


            </div>
        </div>
    </section>

    <div class="GetStatedContainer relative w-full overflow-hidden" data-aos="fade-up"
         data-aos-anchor-placement="top-center">
        <div class="relative w-full">
            <img src="/staticImages/getStarted.webp" alt="GetStarted"
                 class="w-full min-h-[150px] max-h-[250px] md:max-h-[250px] object-cover"/>
        </div>

        <div class="absolute inset-0 z-20 flex md:flex-row md:gap-10 gap-4 flex-col lg:text-[25px] md:text-[20px] text-[16px] justify-center md:justify-between items-center text-center bg-[rgba(0,0,0,0.6)] text-white py-5 px-10 lg:px-20">
            <p class="md:w-2/3">
                If you're ready to enhance your organization's operations, ensure compliance, and strengthen your risk
                management practices, get in touch with us today for a tailored consultation
            </p>
            <div class="flex w-1/2 md:w-1/3 justify-center">
                <GetStartedPopUp style={{
                    width: '100%',
                    fontWeight: '700',
                }} buttonText="Get Started" client:visible/>
            </div>
        </div>
    </div>

    <div class="relative w-full">
        <div class="mb-10"></div>
        <div id="consultation" class="pt-18" data-aos="fade-up"
             data-aos-anchor-placement="top-center">
            <ScheduleForm client:only="react"/>

        </div>

        <section class="my-10 mx-auto" data-aos="fade-up"
                 data-aos-anchor-placement="top-center">
            <div class="border-t-2 border-gray-400 w-full">
                <h1 class="xl:text-4xl lg:text-3xl text-2xl font-semibold py-5">TEAM</h1>
            </div>
            <p class="py-4">Our team brings over a decade of hands-on experience in delivering internal audit, IT
                audit, IT governance, financial reporting, and managerial accounting services—backed by globally
                recognized
                certifications such as CIA, CISA, CMA, and MBA. We provide high-impact consulting and assurance
                services, helping organizations enhance risk management, strengthen internal controls, and align
                financial and IT practices with international standards. With a powerful blend of technical expertise
                and strategic insight, our professionals deliver tailored solutions that drive performance, ensure
                compliance, and support informed decision-making across industries.</p>
        </section>

        <div class="mb-20"></div>

        <CertificateSlider/>
    </div>

    <section class="my-10 mx-auto max-w-7xl px-4" data-aos="fade-up"
             data-aos-anchor-placement="top-center"
    >
        <div class="border-t-2 border-gray-400 w-full ">
            <h1 class="xl:text-4xl lg:text-3xl text-2xl font-semibold py-5">FAQ<span
                    class="xl:text-2xl lg:text-xl text-lg">s</span></h1>
        </div>
        <Faqs client:only="react"/>
    </section>
</BaseLayout>
