---
import {Image} from 'astro:assets';
import logo from '../../../public/logos/navbarLogo.svg';
import HamburgerMenu from '../reactComponents/HamburgerMenu'
import ScrollNavButton from "../reactComponents/ScrollNavButton";

const path = Astro.url.pathname

function isActivePath(currentPath: string, pathPrefix: string) {
    if (pathPrefix === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(pathPrefix);
}
---

<nav class="top-0 shadow-sm  sticky bg-white lg:px-10 px-5  z-50">
    <div class="mx-auto py-2 max-w-[1440px]">
        <div class="h-[64px] lg:h-fit flex lg:hidden">
            <div class="flex items-center ">
                <a href="/" class="object-contain">
                    <Image src={logo} alt="logo"/>
                </a>

            </div>
            <HamburgerMenu activePath={path} client:only="react"/>
        </div>
        <div class="hidden lg:flex justify-between h-16 z-10">
            <div class="flex items-center ">
                <a href="/" class="object-contain">
                    <Image src={logo} alt="logo"/>
                </a>

            </div>
            <div class="hidden lg:flex h-16 items-center xl:text-[20px]  text-md font-semibold justify-center ">
                <ul class="flex items-center xl:gap-12 lg:gap-8 h-16 ">
                    <li class=`flex ${
                        isActivePath(path, "/") ? "underline-text" : ""
                    }`><a href="/">Home</a></li>
                    <li class={`flex ${
                        isActivePath(path, "/services") ? "underline-text" : ""
                    }`}><ScrollNavButton
                            targetId="services"
                            to="/"
                            client:visible
                    >
                        Services
                    </ScrollNavButton></li>
                    <li class=`flex ${
                        isActivePath(path, "/blog") ? "underline-text" : ""
                    }`><a href="/blog">Blog</a></li>
                    <li class=`flex ${
                        isActivePath(path, "/contact") ? "underline-text" : ""
                    }`><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="navBtn flex items-center xl:text-[20px]  text-md font-semibold ">
                <div class="wrapper">
                    <ScrollNavButton
                            targetId="consultation"
                            to="/"
                            className="py-[10px] xl:px-[40px] lg:px-[30px] bg-[#033271] rounded-[8px] text-white flex justify-center"
                            client:visible
                    >
                        Schedule a free consultation
                    </ScrollNavButton>

                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .underline-text {
        position: relative;
        display: inline-block;
    }

    .underline-text:after {
        position: absolute;
        bottom: -5px;
        content: " ";
        width: 100%;
        height: 2px;
        left: 0;
        //top: 5px;
        background: black;
    }
</style>